thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.alignCenter {
  text-align: center;
}

.table-curved {
  border-collapse: collapse;
  margin-left: 10px;
}
.table-curved th {
  padding: 3px 10px;
}
.table-curved td {
  position: relative;
  background-color: cornflowerblue;
  padding: 6px 10px;
  border-bottom: 2px solid white;
  border-top: 2px solid white;
}


.table-curved td:first-child {
  border-radius: 50% 0 0 50%;
}

.table-curved td:last-child {
  border-radius: 0 50% 50% 0;
}
.table-curved tr:hover td {
  background-color: forestgreen;
}

img {
  border-radius: 50%;
}